*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 3vw; 
}


.choice{
    height: 12vw; 
    width: 12vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #225289;
}

img{
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 4rem;
    gap: 7rem;
}

#user-score, #comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 6vw; 
    }
    
    .choices {
        flex-direction: column; 
        margin-top: 2rem;
        gap: 1.5rem;
    }

    .choice {
        height: 15vw;
        width: 15vw;
    }

    img {
        height: 13vw;
        width: 13vw;
    }

    .score-board {
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
    }

    #user-score, #comp-score {
        font-size: 4rem;
    }

    .msg-container {
        margin-top: 2rem;
    }

    #msg {
        font-size: 1.5rem;
        padding: .5rem;
        width: 90%; 
        line-height: 1.5; 
        word-wrap: break-word;  
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 4vw;
    }

    .choices {
        margin-top: 3rem;
        gap: 2rem;
    }

    .choice {
        height: 12vw;
        width: 12vw;
    }

    img {
        height: 10vw;
        width: 10vw;
    }

    .score-board {
        gap: 5rem;
    }

    #user-score, #comp-score {
        font-size: 4.5rem;
    }
}
